body{
    padding: 0px;
    margin: 0px;
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono',monospace;
    padding: 90px;
}
.head{
    text-align: center;
    margin-top: 40px;
    color: rgb(44, 42, 42);
    letter-spacing:5px;
    font-weight: bolder;
    font-size: larger;
}
.main{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;

}
label{
    color: hsl(186, 14%, 43%);
    margin-bottom: 0.3rem;
}
input{
    font-size: 24px;
    text-align: right;
    padding: 5px;
    padding-right: 18px;
    background-position: 17px 15px;
    background-repeat: no-repeat;
    background-color: hsl(189,41%,97%);
    outline: none;
    color: hsl(183,100%,15%);
    font-weight: bolder;
}
.percent{
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: 144px 144px;
    row-gap: 2em;
    column-gap: 18px;
    margin-bottom: 2rem;
}
.tips{
    background-color: hsl(183,100%,15%);
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.result{
    background-color: hsl(183,100%,15%);
    color: white;
    padding: 39px 21px;
    border-radius: 12px;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;

}
.person{
    font-size: 12px;
    color: hsl(186, 14%, 43%);
}
.amount{
    font-size: 28px;
    color: hsl(172, 67%, 45%);
    

}
.reset{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
    padding: auto;
    border-radius: 5px;
    cursor: pointer;
}

.secondhalf{
    width: 100%;
}
.custom{
    width: 100px;
    height: 40px;
    font-size: small;
}



























